/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  /* background: #f1f1f1; */
  background: rgb(189, 211, 218);
}

.c-d{
  font-size: 30px;
  color: rgb(250, 239, 239)
}

.latitude {
  color: rgb(250, 239, 239);
  font-family: Verdana;
  font-size: 40px;
  border: 1px solid rgb(25, 100, 160);
  padding: 15px;
  background-color: rgb(25, 100, 160);
}

.skyblue {
  background: rgb(70, 136, 157)
}

.box {
  padding: 10px;
  background: rgb(250, 239, 239)
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  align-content: center;
} 

.navbar {
  margin-right: 0px;
  margin-left: 0px;
  padding: 25px;
  background: rgb(75, 77, 80)
}

.navbar a {
  float:left;
  font: size 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li {
  display: d-blocks;
  padding: 10px;
  margin-right: 0px;
  margin-left: 0px;
  cursor: pointer;
}

.col-1 {width: 8%;}
.col-2 {width: 16%;}
.col-3 {width: 24%;}
.col-4 {width: 32%;}
.col-5 {width: 40%;}
.col-6 {width: 48%;}
.col-7 {width: 56%;}
.col-8 {width: 64%;}
.col-9 {width: 72%;}
.col-10 {width: 80%;}
.col-11 {width: 88%;}
.col-12 {width: 96%;}

p{
  font-size: 16px;
}


h1 {
  font-size: 35px;
}

h3 {
  font-size: 22px;
}

h2 {
  font-size: 22px;
}




/* Giving our navbar some padding and a background color
.navbar {
  padding: 10px;
  background: #5191fd;
}

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
/* .navbar li {
  display: inline-block;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
} */

/* Getting rid of the default link styles here */
/* .navbar li a {
  color: #000;
  text-decoration: none;
} */

/* Styling the header, giving it a height, a background color, and some top padding */
/* .header {
  height: 200px;
  padding-top: 20px;
  background: #cdcdcd;
} */

/* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
/* .header h1 {
  padding: 60px;
  margin: 0;
  color: #000;
  text-align: center;
} */

/* Giving the .post element margin on 3 sides */
/* .post {
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
} */

/* @media is the @media rule is used in media queries to apply different styles for different media types/devices.

Media queries can be used to check many things, such as:

width and height of the viewport
width and height of the device
orientation (is the tablet/phone in landscape or portrait mode?)
resolution */

/* @media only screen and (max-width: 768px) {
  [class*="col-] {
    width: 100%; 
  }
} */

@media (max-width: 500px) {
  .navbar li {
    padding: 8px
  }
  .box {
    margin-right: 20px;
    margin-left: 20px;
  }  
  /* hides button  */
  .navbar ul {
    visibility: hidden;
  }
  #nav-select {
    visibility: visible;
  }
}